body {
    background: linear-gradient(white, lightblue);
    height: 494px;
}

section {
    display: flex;
    margin-top: 130px;
    justify-content: center;
    box-shadow: 10px, 10px;
    text-align: center;
}

.daily-forecast {
    margin: 8px;
    font-family: Verdana;
    height: 300px;
    box-shadow: 0 0 5px black;
    background: linear-gradient(lightblue, white);
}

.daily-forecast:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}